.background{
    width: 100%;
    height: 100vh;
}

h1{
  position: relative;
  margin-top: -550px;
  margin-left: 50px;
  font-size: 54px
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.text {
  width: 600px;
  position: relative;
  left: 55px;
  top: 10px;
}

.HomeText{
  position: relative;
  top: 40px;
  color: #ffffff;
}

